body{
    
    font-size: 14px;
    width: 100%;
    height: 100vh;
    background: url("../images/v1_3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.logo {
    width: 148px;
    height: 44px;
    background: url("../images/v6_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 85px;
    margin-left: 35px;
    margin-bottom: 40px;
}

.sidebar{
    z-index: 1000;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(76, 83, 100, 0.8799999952316284);
    left: -230px;
    
}
.nav-sbar a{
    display: block;
    text-decoration: none;
    padding: 50px 0px 0px 60px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 15px;
    color: rgba(239, 189, 189, 1);
    display: flex;
    white-space: nowrap;
    
}
.contain1{
    padding: 50px;
    
}
.table-ad{
   width: 100%;  
}
.table-ad thead{
    background: rgba(76, 83, 101, 1);
}
.table-ad th, .table-ad td{
    border: 1px solid;
    padding: 10px 5px;
    color: rgba(0, 0, 0, 1);
    font-family: Ruluko;
    font-weight: Regular;
    
}
.table-ad td{
   background: rgba(196, 196, 196, 0.8999999761581421);

}
.player{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}
.playbutton i{
    font-size: 30px;
    margin: 0 25px;
}
#close{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: block;
}
#open{
    display: block;
    cursor: pointer;
}
.open {
    left: 0;
    
}
.c2 {
    background: url("../images/v5_21.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 35px;
    margin: 0;
}

.c3 {
    background: url("../images/v5_22.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 35px;
    margin: 0;
}

.c4 {
    background: url("../images/v5_25.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 35px;
    margin: 0;
}

.c5 {
    background: url("../images/v5_26.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 35px;
    margin: 0;
}


@media (min-width:992px)  { 

    .sidebar{
        left: 0;
    }
    .contain1{
        padding-left: 230px;
        
    }    
    .player {
         padding-left: 230px;
    }
    #close{
        display: none;
    }
    #open{
        display: none;
    }
}
.modal-upload{
    color: rgba(0, 0, 0, 1)!important;
    font-family: Ruluko !important;
    font-weight: Regular !important;
    
}
.create-modal{
    color: rgba(0, 0, 0, 1)!important;
    font-family: Ruluko !important;
    font-weight: Regular !important;
    
}