<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="./css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="vue.global.js"></script>
    <title>FE4</title>
</head>

<body>
    <div id="sides">
        <div class="sidebar " :class="{ 'open' : sideopen === true}">
            <i id="close" @click="close" class="fas fa-times"></i>
            <div class="logo"></div>
            <div class="nav-sbar">
                <div>
                    <a href="#">
                        <icon class="c2" data-bs-toggle="modal" data-bs-target="#Upload-modal">Upload music</icon>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <icon class="c3">All Songs</icon>
                    </a>
                    <div>
                    </div>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#create-modal">
                        <icon class="c4">Create Playlist</icon>
                    </a>
                    <div v-for ="playlist in playlistnames">
                        <div>
                            <a href="#">
                                <icon class="c5">{{playlist.playlist}}</icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contain1">
            <div>
                <i @click="open" class="fas fa-bars fa-2x"></i>
            </div>
            <div class="text-con mt-5">
                <div>
                    <input type="search" class="search" placeholder=" Search" name="search">
                </div>
            </div>
            <audio id="audio" class="d-none" preload="metadata"></audio>
            <div class=" mt-5">
                <h1 class="text">All songs</h1>
                <div class="table-reponsive">
                    <table class="table-ad">
                        <thead>
                            <tr class="title">
                                <th>

                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Artist
                                </th>
                                <th>
                                    Album
                                </th>
                                <th>
                                    Duration
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for = "mp3 in song">
                                <td>
                                    <i class="fas fa-play d-flex justify-content-center"></i>
                                </td>
                                <td>
                                    {{mp3.title}}
                                </td>
                                <td>
                                    {{mp3.artist}}
                                </td>
                                <td>
                                    {{mp3.album}}
                                </td>
                                <td>
                                    {{mp3.duration}}
                                </td>

                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="player">
            <div>
                <form>
                    <div class="form-group col-11">
                        <input type="range" class="form-control-range w-100" id="formControlRange">
                    </div>
                </form>
            </div>
            <div class="playbutton d-flex justify-content-center">
                <i class="fas fa-backward"></i>
                <i class="fas fa-play"></i>
                <i class="fas fa-forward"></i>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title creater-modal" id="exampleModalLabel">Create playlist</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <input style="width: 450px" type="text" v-model="create">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="modalC">Create</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="modal fade modal-upload" id="Upload-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                     <div  style="height: 100px; width: 100%;"  class="bg-primary" @dragover="dragover" @drop="drop" @dragenter="dragenter" @dragleave="dragleave">
                         <p>{{mp3name}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="audios">Upload</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
