* {
  box-sizing: border-box;
}
body{
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover; 
    height: 100vh;
    background-position: center;
}

body {
  font-size: 14px;
  margin: 0;
}

.contact {
   padding: 20px 20px 0px 20px;
   display: flex;
  justify-content: space-between;
}
.contact_icon{
  padding-left: 20px;
  display: flex;
  align-items: center;

}
.contact_icon span{
  color: rgba(14,14,14,1);
  font-family: Poor Story;
  font-weight: Regular;
  font-size: 30px;
}
.nav {
 display: flex;
 justify-content: space-between;
}

.repair {
  color: rgba(189,20,20,1);
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poor Story;
  font-weight: Regular;
  font-size: 64px;
  margin-left: 80px;

}
.nav_item {
 
 display: flex;
 align-items: center;
 margin-right:20px;
}

.nav_item a{
  text-decoration: none;
  color: #033065;
  font-family: Podkova VF Beta;
  font-weight: Regular;
  font-size: 36px;
  padding: 10px;
}
.nav_item a:hover{
color: white;
}

.main_title{
  position: absolute;
  top: 40%;
  left: 80px;
}

.title {
  color: rgba(5,20,59,1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Podkova VF Beta;
  font-weight: Regular;
  font-size: 96px;
}
.subtext span{
  color: rgba(17,72,137,1);
  font-family: Podkova VF Beta;
  font-weight: Regular;
  font-size: 48px;
}

.subtext button{

  color: rgba(246,249,253,1);
  font-family: Podkova VF Beta;
  font-weight: Regular;
  font-size: 38px;
  background: #3557D0;
  border: none; 
  border-radius: 10px;
  padding: 20px;
  margin-left: 25px;
}
.subtext button:hover{
  background: #1747F1;
  cursor: pointer;
  box-shadow: 15px 10px 18px #4F5879;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  { 
body{
    background-image: url("../images/bg1.png");
}

.main_title{
  top: 70%;
  left: 50px;
}
.contact {
 margin-right: 0px;
}
.repair {
  margin-left: 50px;
}
.subtext button{
  margin-left: 5px;
  margin-top: 20px;
}
.subtext span{
  font-size: 40px;
}
.nav_item a{
  font-size: 30px;
  padding: 10px;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
body{
    background-image: url("../images/bg1.png");
}
.main_title{
  top: 45%;
}


}


/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  {

.main_title{
  top: 50%;
}
.title {
  font-size: 50px;
}
.subtext button{
  font-size: 20px;
}


/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
 

.main_title{
  top: 50%;
}
.title {
  font-size: 60px;
}
.subtext button{
  font-size: 20px;
  }
}