.left-radius{
    border-top-left-radius: 25px !important;
}
.right-radius{
    border-top-right-radius: 25px !important;
}
.no-left-radius{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.no-right-radius{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
